body {
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
}
.nav-item {
    text-align: center;
    line-height: 44px;
}
.nav-left, .nav-right {
    height: 44px;
    width: 70px;
    background-color: #ff0000;
}
.nav-center {
    flex: 1;
    background-color: aqua;
}